<div id='x-header'>
	<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark p-1">
	  <div class="container-fluid">
		<img src="https://www.asthrasoft.com/site/img/logo.png" style="height:25px"/>
		<p class="navbar-brand my-0  ms-2">Think Healthcare</p>
		<div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- <a class ="float-end mx-2 btn-lg align-self-end ml-auto text-white"  routerLink="/phone">Kiosk App</a> -->

		</div>
		
	  </div>
	</nav></div>
<div id='x-main' class="container-fluid mt-5 bg-secondary text-light p-0">
    <div class="card login-card bg-secondary text-light" style="min-height:600px;">
        <div id="logincard">
         
<div class="card-body mx-auto" style="display:block;width:250px;margin-top:100px;" ng-app="myApp" ng-controller="formCtrl" >
     <h5 class="card-title text-center mb-2">Enter OTP</h5>
     <form #formOtp ="ngForm" (ngSubmit)="postOtp(formOtp.value)">
        <input ngModel otp="otp" type="number" class="form-control mt-2" maxlength="6" required>
        <!-- <input class="form-control mt-auto" style="width: 300px; align-content: center;" type="number" ng-model="phone_otp"> -->
    
     
         <div class ="align-self-center btn-group">
         <button type="button" class="btn btn-primary float-center  mr-3 mt-4" (click)="onBack()" style="width: 100px;">Back</button>
        
        <button type="button" class="btn btn-primary float-center mr-3 mt-4" style="width:100px" (click)="onEnter()"
        
        data-nav="tab.otp">Done</button>		
      
    </div>
  </form>  
     <div class="card-body mx-auto" style="display:block;width:200px;position:absolute;bottom:60px;right:100px">
        <h5 class="card-title text-center mb-2">Supported by</h5>
        <a href="https://www.emids.com/" target="_blank">
          <img src="assets/img/emids-logo.png" style="width:160px"  class="me-3"></a>
         

      </div>
  </div> 
   
 
  
