{% extends "static/pages/_common/site_tab.htm" %}

{% block main %}
<main class="container-full">
<div id='x-main' class="container-fluid mt-5 bg-secondary text-light p-0">
	<div class="card login-card bg-secondary text-light" style="min-height:600px;">
		<div id="logincard">
			<div class="card-body mx-auto" style="display:block;width:400px;margin-top:100px;">
			  <h5 class="card-title text-center mb-2">Enter your Phone Number</h5>
			  <input type="text" class="form-control mt-4"></input>
			  <button type="button" class="btn btn-primary text-center w-50 mt-4 mx-auto btn-lg" style="display: block;" data-nav="tab.otp">Done</button>
			</div>		
		</div>

	    <div class="card-body mx-auto" style="display:block;width:200px;position:absolute;bottom:60px;right:100px">
		  <h5 class="card-title text-center mb-2">Supported by</h5>
		  <a href="https://www.emids.com/" target="_blank"><img src="/static/img/emids-logo.png" class="me-3"></img></a>
		  <!--<img style="width:145px" src="/static/img/iihmr_bangalore_logo.jpg"></img>-->
		</div>
		
	</div>  
</div>
</div>

</main>
{% endblock %}	
