<div id='x-header'>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark p-2">
        <div class="container-fluid">
            <img src="https://www.asthrasoft.com/site/img/logo.png" style="height:25px" />
            <p class="navbar-brand my-0  ms-2">Think Healthcare</p>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="float-end mx-2 btn-lg align-self-end ml-auto text-white" routerLink="/phone">Log Out</a>

            </div>
        </div>
    </nav>
</div>
<main class="container-full">
    <div id='x-main' class="container-fluid mt-5 py-1" style="min-height:700px">

        <div class="row mt-4 py-0">
            <div class="col-3 text-center">
                <img src="assets/img/maya.jpg" style="width:250px;height:250px"
                    class="card-img-top img-fluid rounded-circle" alt="...">
                    <div class="card-body mb-3">
                <webcam [height]="250" [width]="250" class="card-img-top img-fluid rounded-circle">
                </webcam></div>


            </div>
            <div class="col-6 text-center">


                <div class="border border-dark border-3 mt-4" style="height:90px">




                    <blockquote class="blockquote">
                        <textarea rows="3" class="w-100 h-100 text-center ">{{service.resText}}</textarea>
                    </blockquote>


                </div>
                <div class="row mt-4">
                    <div class="btn-group col-12" role="group" aria-label="Basic example">

                        <button type="button" class="btn btn-primary"><i class="bi bi-mic-mute"
                                (click)="toggleMic()"></i></button>
                        <button type="button" class="btn btn-primary"><i class="bi bi-volume-mute"
                                (click)="toggleMute()"></i></button>
                        <button type="button" class="btn btn-primary" id="strt" (click)="startService()">Start</button>
                    </div>
                </div>
                
                <div class="border border-dark border-3 mt-4" style="height:100px">
                    <figure class="text-center p-2">
                        <blockquote class="blockquote">
                            <p>{{service.queText}}</p>
                        </blockquote>
                    </figure>
                </div>
                <div class="col-12 mt-4">
                    <button class="bg-primary text-light btn-lg " (click)="onSubmit()"
                        style="width:220px">Submit</button>
                    <button class="bg-primary text-light btn-lg " (click)="onClose()" style="width:220px">Close</button>
                </div>
            </div>

            <!-- <h2>Send a message to the server:</h2>
            <form (ngSubmit)="sendMessage(message); message = ''">
              <input [(ngModel)]="message" name="message" type="text" autocomplete="off" />
              <button type="submit" style="margin-left: 10px;">Send</button>
            </form>
            <div >
            <ul>
                <li *ngFor="let data of webSocketService.receivedData">
                 
                  {{ data.time }}: {{ data.message }}
                </li>
              </ul> -->


            <div class="col-3 text-center">
                <div class="text-start">
                    <h3>Transcript</h3>
                    <textarea rows="7" class="w-100 h-100 border border-dark border-3" style="min-height:450px">{{service.temp}}	
            </textarea>

                </div>

            </div>

        </div>
       

    </div>
    