<div id='x-header'>
	<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark p-1">
	  <div class="container-fluid">
		<img src="https://www.asthrasoft.com/site/img/logo.png" style="height:25px"/>
		<p class="navbar-brand my-0  ms-2">Think Healthcare</p>
		
		
	  </div>
	</nav></div>
<div class="col-3 text-center">
    <button class="btn btn-primary p-2 rounded-0" (click)="onClicking()"style="width:250px;height:250px" data-nav="tab.profile.new">
          <img src="https://png.pngtree.com/png-vector/20190429/ourmid/pngtree-vector-add-icon-png-image_998225.jpg" style="width:175px;height:175px" class="card-img-top img-fluid rounded-circle" alt="...">
    </button>
</div>