<!-- <pm-header></pm-header>
<div class="card-body mx-auto" style="display:block;width:200px;margin-top:100px;">
    <h5 class="card-title text-center mb-2">Enter OTP</h5>
    <input type="text" class="form-control mt-4"></input>
    <div class="mt-4 mx-auto">
        <button type="button" class="btn btn-primary text-center float-start btn-lg" data-nav="tab.login">Back</button>
        <button type="button" class="btn btn-primary text-center float-end btn-lg" data-nav="tab.profiles">Enter</button>		  
    </div>
  </div>
  <pm_footer></pm_footer> -->