<div id='x-header'>
	<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark p-1">
	  <div class="container-fluid">
		<img src="https://www.asthrasoft.com/site/img/logo.png" style="height:25px"/>
		<p class="navbar-brand my-0  ms-2">Think Healthcare</p>
		<div class="collapse navbar-collapse" id="navbarCollapse">
            <a class ="float-end mx-2 btn-lg align-self-end ml-auto text-white"  routerLink="/phone">Kiosk App</a>

		</div>
		
	  </div>
	</nav></div>
<!-- <router-outlet></router-outlet> -->