{% extends "static/pages/_common/base_tab.htm" %}

{% block body %}
<main class="container-full">
<div id='x-main' class="container-fluid mt-5 py-1" style="min-height:500px">

<div class="row mt-4 py-0">
	<div class="col-3 text-center">
	</div>
	<div class="col-6 text-center">
	
		<div class="border border-dark border-3" style="height:100px">
			<figure class="text-center p-2">
			  <blockquote class="blockquote">
				<p>Your appointment has been confirmed with Dr Sridhar on Jan-27-2023 (Fri) at 4:30 PM</p>
			  </blockquote>   
			</figure>
		</div>

		<div>
			<figure class="text-center p-2">
			  <blockquote class="blockquote">
				<p>Scan QR Code for appointment details.</p>
			  </blockquote>
			</figure>
			<img src="https://pngimg.com/uploads/qr_code/qr_code_PNG6.png" 
				style="width:200px;height:200px" class="border-light border-3" alt="...">
		
		</div>
			  
	  <button class="bg-primary text-light btn-lg mt-4" style="width:220px" data-nav="tab.profiles">Close</button>
		
	</div>
	<div class="col-3 text-center">
	</div>
	
</div>
</main>

{% endblock %}	


