{% extends "static/pages/_common/base_tab.htm" %}

{% block body %}
<main class="container-full">
<div id='x-main' class="container-md mt-5 py-1" style="min-height:500px">

<div class="row mt-3 py-0">
<h3>Episodes for Rathnamma K T, Female, 82 yrs</h3>	

	<div class="col-3 text-center">
		<button class="btn btn-primary p-2 rounded-0" style="width:250px;height:250px" data-nav="tab.episode.new">
			  <img src="https://png.pngtree.com/png-vector/20190429/ourmid/pngtree-vector-add-icon-png-image_998225.jpg" style="width:175px;height:175px" class="card-img-top img-fluid rounded-circle" alt="...">
		</button>
	</div>

	  {% for item in episodes %}
		<div class="col-3">
			<div class="btn btn-secondary py-3 rounded-0" data-nav="tab.episode.new" style="height:250px">
				  <div class="card-body text-start pt-0">
					<h5 class="card-title">{{item.ep_date}}</h5>
					<p class="card-text">{{item.ep_doc}}</p>
					<p class="card-text">{{item.ep_smry}}</p>
				  </div>
			</div>
		</div>

	  {% endfor %}
	

</div>
</main>

<button class="bg-primary text-light btn-lg" style="position:absolute;;bottom:60px;right:100px" data-nav="tab.profiles">Cancel</button>

{% endblock %}	


