{% extends "static/pages/_common/base_tab.htm" %}

{% block body %}

<main class="container-full">
<div id='x-main' class="container-md mt-5 p-3">

<h3>Register a new profile</h3>
<div class="row">
	<div class="col-3">
		<button class="btn rounded-0">
			  <img src="https://w7.pngwing.com/pngs/639/614/png-transparent-computer-icons-camera-camera-photography-rectangle-camera-icon.png" style="width:175px;height:175px" class="card-img-top img-fluid rounded-circle" alt="...">
		</button>
	</div>
	<div class="col-9">
		<div class="row">
		<div class="mb-1 col-12">
		  <label for="exampleFormControlInput1" class="form-label">Name</label>
		  <input class="form-control p-name" type="text" value="" aria-label="...">
		</div>

		<div class="mb-1 col-6">
		  <label for="exampleFormControlInput1" class="form-label">Age</label>
		  <input class="form-control p-age" type="number" value="" aria-label="...">
		</div>

		<div class="mb-1 col-6">
		  <label for="exampleFormControlInput1" class="form-label">Gender</label>
			<select id="level" class="form-select">
			  <option selected>Gender</option>
			  <option value="Male">Male</option>
			  <option value="Female">Female</option>
			  <option value="Other">Other</option>
			</select>  
		</div>

		<div class="mt-5 col-12">
			<button class="bg-primary text-light float-end mx-2 btn-lg" data-nav="tab.profiles">Cancel</button>
			<button class="bg-primary text-light float-end mx-2 btn-lg" data-nav="tab.profiles">Submit</button>
		</div>
		
		</div>
	</div>

</div>
<div id="webcam">
	
	Click on the Start WebCam button.
	  <p>
	 <button onclick="startWebcam();">Start WebCam</button>
	 <button onclick="stopWebcam();">Stop WebCam</button> 
		<button onclick="snapshot();">Take Snapshot</button> 
	 </p>
	 <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
   <p>
 
		 Screenshots : <p>
	   <canvas  id="myCanvas" width="400" height="350"></canvas>  
	   <p id="data64"></p>

</div>



</div>

</main>

{% endblock %}	

{% block footer %}


{% endblock %}	

